spring-xsd-defined/spring-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.lexueba.com/schema/user"
        elementFormDefault="qualified">

    <!--
        schema xmlns:targetNamespace
        targetNamespace :1表示文档中要定义的元素来自什么命名空间
        xmlns:表示此文档的默认命名空间是什么
        elementFormDefault="qualified": 表示要求xml文档的每一个元素都要有命名空间指定
        -->
    <element name="user">
        <complexType>
            <attribute name="id" type="string"/>
            <attribute name="userName" type="string"/>
            <attribute name="email" type="string"/>
        </complexType>
    </element>

</schema>